#datatext{
  font-size: 300%;
  padding: 1%;
}

#datatitle{
  padding-top: 2%;
}

#gobtn{
  padding: 1%
}


#searchtext{
  padding: 1%;
  margin: 1%;
}

#titletext{
  padding-bottom: 4%;
}

#footertext{
  padding-top: 8%;
  bottom: 0px;
  text-align: center;
}